{% extends 'base.html.twig' %}

{% block title %}Inscription à la newsletter{% endblock %}

{% block body %}
<h1 class= " text-4xl text-center">Inscripetion à la newslatter</h1>


<div class= "w-full  px-4 sm:w-1/2  mx-auto">{{ form (newsletterform)}}</div>
{% endblock %}
